{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('users') }}">Powrót</a>
    <h1>Dodawanie użytkownika</h1>

    <form method="post">
        <input type="text" name="name">
        <input type="submit">
    </form>
{% endblock %}